# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Coverage directory used by tools like istanbul
coverage/

# MongoDB
dump/

# Debug
debug/

# Production
build/

# Misc
temp/
*.swp
*.bak
*.tmp

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache
